---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Project from '../components/Project.astro';
import projectsData from '../lib/projectsData';
---

<Layout title="David Hurtado">
  <main>
    <Hero />
    <Projects>
      {
        projectsData.map(({ title, info, demoUrl, repoUrl, img }, index) => (
          <Project
            title={title}
            img={img}
            info={info}
            demoUrl={demoUrl}
            repoUrl={repoUrl}
            index={index}
          />
        ))
      }
    </Projects>
  </main>
</Layout>


